#loginAnchor {
    -fx-background-color: #0d0d0d;
}

.text-field {
    -fx-background-color: #ffffff;
    -fx-text-fill: #0d0d0d;
    -fx-background-radius: 15;
}

.text-field:hover {
    -fx-cursor: text;
}

#loginButton {
    -fx-background-color: #339DFF;
    -fx-text-fill: #fff;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-padding: 8px 18px;
    -fx-border-radius: 50px;
    -fx-alignment: center;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 10, 0.1, 2, 2);
    -fx-transition: all 5s ease-in-out;
}

#loginButton:hover {
    -fx-background-color: #fff;
    -fx-text-fill: #339DFF;
    -fx-cursor: hand;
}

#loginButton:pressed {
    -fx-background-color: #339DFF;
    -fx-text-fill: #fff;
    -fx-cursor: hand;
}



#quitProgramButton {
    -fx-background-color: #F55D5D;
    -fx-text-fill: #fff;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-padding: 8px 18px;
    -fx-border-radius: 50px;
    -fx-alignment: center;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 10, 0.1, 2, 2);
    -fx-transition: all 5s ease-in-out;
}

#quitProgramButton:hover {
    -fx-background-color: #E53E3E;
    -fx-cursor: hand;
}

#quitProgramButton:pressed {
    -fx-background-color: #F55D5D;
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-transition-duration: 0.2s;
    -fx-transition-property: background-color;
}


#tooltip {
    -fx-background-color: #333;
    -fx-text-fill: #fff;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-padding: 6px 10px;
    -fx-border-radius: 4px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 4, 0.0, 0, 2);
    -fx-translate-x: -150px;
    -fx-translate-y: 5px;
}

#tooltip .arrow {
    -fx-background-color: #333;
    -fx-shape: "M0,0 L5,5 L10,0 Z";
}

#tooltip .arrow.tooltipTop {
    -fx-padding: 0 0 5 0;
}

#tooltip .arrow.tooltipBottom {
    -fx-padding: 5 0 0 0;
}





